{% extends 'base.html' %}
{% load thumbnail %}
{% block title %} Посты выбранного автора {% endblock %}
{% block header %}Посты выбранного автора{% endblock %}
{% block content %}
  {% load cache %}
  {% cache 20 index_page %}
  <div class="container py-5">
    <h1>{{ title }}</h1>
    <article>
      {% for post in page_obj %}
        {% include 'posts/includes/content.html' %}
        <p>{{ post.text }}</p>
          {% if post.group %}
            <a href="{% url 'posts:group_posts' post.group.slug %}">все записи группы</a>
            {% if not forloop.last %}<hr>{% endif %}
          {% endif %}
      {% endfor %}
      {% include 'posts/includes/paginator.html' %}
    </article>
  </div>
  {% endcache %}
{% endblock %}